/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100vw;
    background-color: floralwhite;
}

.navbar {
    height: 10vh;
    background-color:  bisque;
}

nav img {
    width: 15%;
}

.navbar-nav > a {
    margin: 0 20px;
    font-size: larger;
}

.navbar-nav a:hover {
    color: #f72585;
    transform: scale(1.3, 1.3);
}

.title {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
    background-color: antiquewhite;
}

.title > a {
    margin: 0 2rem;
}

h1 {
    margin-top: -0.5rem;
    color: #f72585;
}

.fa-backward, .fa-forward {
    color: gray;
}

.fa-backward:hover, .fa-forward:hover {
    color: #f72585;
}

main {
    height: 77vh;
}

#main-details {
    height: 85vh;
}

/* search */
.search-form {
    width: 100vw;
    margin: 2rem;
    display: flex;
}

.main-check {
    width: 75vw;
}

.main-check > label {
    margin: 0 1rem;
}

.search-field input {
    border-radius: 5px;
}

/* cards pages */
.cards-container {
    margin: 2rem;
}

.card {
    width: 20rem;
    height: 35rem;
    margin: 0.3rem 0;
    display: flex;
}

.card > img {
    width: 100%;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: -5px -5px 5px orange;
}

.card-text {
    height: 45%;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* card details */
.card-details {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.card-img {
    width: 50vw;
    display: flex;
    align-items: center;
}

.img-details {
    width: 90%;
    margin-bottom: 1rem;
}

.card-body-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    object-fit:cover;
}

#card-text-description {
  height: 5rem;
}

.card-body-details p {
    height: 2rem;
    align-self: flex-start; 
}

h2 {
    height: 20%;
    font-size: 3rem;
}

/*no results message*/
/*.no-results-container*/

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.no-results > img {
  width: 15%;
  margin-bottom: 2rem;
}

.no-results > h2 {
  font-size: x-large;
  /*padding-botton: 1rem;*/
}

/* contact page */
#contact-form {
    margin: 3rem 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form-fields {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

#contact-form-fields input {
    width: 20rem;
    margin-bottom: 1rem;
}

textarea {
    height: 7rem;
}

#form-contact {
    display: flex;
    margin-left: 15rem;    
}

/* stats page */
.tables-container {
    width: 90vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

table, th, td {
    border: 1px solid black;
    margin: 0;
}

th, td {
    height: 1.5rem;
}

.table-main-head {
    height: 3rem;
    background-color: wheat;
    font-size: x-large;
    font-weight: bolder;
}

/* footer */
footer {
    height: 5vh;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
}

.socialMedia i {
    margin: 0 1rem;
}

.socialMedia a {
    text-decoration: none;
    color: black;
}

.fa-square-instagram:hover {
    color: salmon;
}

.fa-facebook:hover {
    color:blue
}

.fa-square-whatsapp:hover {
    color: green
}

.footerSignature {
    margin-top: 1rem;
    font-size: small;
}

address {
    margin-right: 1rem;
    opacity: 0.6;
}

address a {
    text-decoration: none;
    color: #f72585;
}

/* media queries */
@media screen and (max-width:1000px) {
    .navbar {
        height: 13vh;
    }
    
    .search-form {
        display: flex;
        justify-content: flex-start;
        margin: 0;
    }

    .card-body-details {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }
    
}

@media screen and (max-width:800px) {
    .navbar-nav > a {
        margin: 0 5px;
        font-size: medium;
    }

.navbar-nav a:hover {
    color: #f72585;
    transform: scale(1, 1);
}
    
    h1 {
        font-size: x-large;
    }

    .search-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
    }

    .main-check  {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100vw;
        height: 90vh;
        margin: 2px;
        align-items: center;
    }

    .card-body {
        text-align: center;
    }

    .card-text {
        height: 25%;
    }

    .card > img {
        width: 100%;
    }

    .cardFooter {
        width: 60vw;
    }

    .card-img {
        width: 100%;
        object-fit: cover;
    }

    .cards-container {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .card-details {
        flex-direction: column;
        align-items: center;
    }

    .img-details {
        width: 100%;
        height: 100%;
    }

    .card-body-details {
        width: 100vw;
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.9rem;
    }
}
